body {
  background-color: aquamarine;
}

h1 {
  font-size: 18pt;
  color: rgb(209, 44, 44);
  border-bottom: 1px solid black;
  padding: 8px 16px;
  margin-bottom: 16pt;
  
}

dl {
  margin: 0;
}

dl > div {
  margin-bottom: 8px;
}

dt {
  margin: 8px;
  margin-left: 750px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

dt::before {
  content: '';
}

dt::after {
  content:'+';
  position: absolute;
  top: 8px;
  right: 16px;
  transition: transform .3s ;
}

dl > div.appear dt::after {
  transform: rotate(45deg);
}

dd {
  padding: 8px;
  margin: 0;
  margin-left: 625px;
  display: none;
}

dd::before {
  content: '';
}

dl > div.appear dd {
  display: block;
  animation: .3s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}